@font-face{
  font-family: "Permanent Marker";
  src: url(../src/assets/fonts/PermanentMarker-Regular.ttf) format('truetype');
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}


.navbar{
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(137, 141, 151);
  border-bottom: 3px solid black;
  .logo{
    text-decoration: none;
    color: black;
  }
  .menu{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .menu-link{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
  }
  .menu-link:hover{
    text-decoration: underline;
  }

}
.productos{
  display: flex;
  margin: 20px;
  text-align: center;
}

.imagen{
  width: 180px;
  height: 180px;
}

.ItemTarj{
    text-align: center;
    .nombre{
      padding: 5px;
      margin: 10px;
    }  
    .precio{
      padding: 20px;
      margin: 10px;
    }
    .ver-mas{
      background-color: rgb(137, 141, 151);
      padding:10px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 10px;
      color: black ;
      font-size: 1rem;



    }
    


}

